* {
  padding: 0;
  margin:0;
}
body {
  display: block;
  width: 95vw;
  height: 100vh;
  margin: 0 auto;
  font-size: 1.5em;
  font-family: 'Amatic SC', cursive;
  color: rgb(187,138,76);
}
header {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-wrap: wrap;
  text-align: right;
}
.logo {
  width: 10%;
  float: left;
}
.name-title {
  width: 90%;
  padding-top: 2%;
}
.name {
  padding-right: 5%;
  font-family: 'Seaweed Script', cursive;
  color: rgb(185,136,41)
}
.title {
  padding-right: 5%
}
.title-img {
  height: 40vh;
  background-color: rgb(185, 136, 41);
}
.pyramid {
  height: 100%;
  display: block;
  margin: auto;
}
.featured-work {
  text-align: left;
  height: 5vh;
  padding-top: 2%;
  padding-left: 2%;
  text-align: center;
}
.works {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.featured-work p {
  padding: 2%;
}
.work {
  width: calc(100%/3);
  height: 35vh;
}
.sensoree {
  width: 79%;
}
.falcon, .dog {
  width: 90%;
  margin: 0 auto;
}
